Dataset/data/*
Dataset/Phishing/*
Dataset/SpamHam/*
Dataset/index
__pycache__/*
checkpoints/phishing/*
checkpoints/spam/*
checkpoints/ham/*
Old/*
.vscode/*
plots/*
cache/*
!checkpoints/phishing/checkpoint_epoch_5967.pth